.verde {
    background-color: #14aa96;
}

.arancione {
    background-color: #f09b14;
}

.red {
    background-color: #be392b;
}

.blu {
    background-color: #237db9;
}

.white {
    background-color: white;
}
